@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  background-color:#000;
  color: white;
}
h1 {
  color: white;
  font-family: "custom";
  font-size: 80px;
}

@font-face {
  font-family: "custom";
  src: url("./assets/font/Jersey15-Regular.ttf") format("truetype");
}
