@import "tailwindcss";


:root {
    background-color: #000;
    color: white;
    scrollbar-width: none;
}

* {
    box-sizing: border-box;
}

.logo {
    color: white;
    font-family: "logo";
    font-size: 80px;
}

.content_title{
    font-family: "content_title";
    font-weight: 700;
    font-size: 30px;
}
.content_subtitle{
    font-family: "content_title";
    font-weight: 700;
    font-size: 25px;
}

@font-face{
    font-family: "content_title";
    src: url("/assets/font/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
    font-family: "logo";
    src: url("/assets/font/Jersey15-Regular.ttf") format("truetype");
}
